.menu{
    display: flex;
    justify-content: space-between;
    background-color:#000000;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}
body{

    margin: 0px;

    background: hsla(336, 100%, 78%, 1);

background: linear-gradient(315deg, hsla(336, 100%, 78%, 0.75) 3%, hsla(36, 100%, 57%, 0.75) 24%, hsla(52, 100%, 52%, 0.75) 38%, hsla(57, 100%, 50%, 0.75) 50%, hsla(79, 100%, 49%, 0.75) 64%, hsla(105, 100%, 50%, 0.75) 78%, hsla(117, 88%, 65%, 0.75) 88%, hsla(156, 67%, 70%, 0.75) 95%, hsla(199, 100%, 79%, 0.75) 99%);

background: -moz-linear-gradient(315deg, hsla(336, 100%, 78%, 0.75) 3%, hsla(36, 100%, 57%, 0.75) 24%, hsla(52, 100%, 52%, 0.75) 38%, hsla(57, 100%, 50%, 0.75) 50%, hsla(79, 100%, 49%, 0.75) 64%, hsla(105, 100%, 50%, 0.75) 78%, hsla(117, 88%, 65%, 0.75) 88%, hsla(156, 67%, 70%, 0.75) 95%, hsla(199, 100%, 79%, 0.75) 99%);

background: -webkit-linear-gradient(315deg, hsla(336, 100%, 78%, 0.75) 3%, hsla(36, 100%, 57%, 0.75) 24%, hsla(52, 100%, 52%, 0.75) 38%, hsla(57, 100%, 50%, 0.75) 50%, hsla(79, 100%, 49%, 0.75) 64%, hsla(105, 100%, 50%, 0.75) 78%, hsla(117, 88%, 65%, 0.75) 88%, hsla(156, 67%, 70%, 0.75) 95%, hsla(199, 100%, 79%, 0.75) 99%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ff91bd", endColorstr="#ffa826", GradientType=1 );   
}

a{
    text-decoration: none;
}

a:visited{
    color: #ffffff;
}

.bodyimg{
    position: relative;
}

.intro{
    color: #ffffff;
    font-family: 'Courgette', cursive;
    position: absolute;
    top: 25%;
    left: 3%;
}

.intro h1{
    font-size: xx-large;
}

.intro h3{
    position: relative;
    left: 0%;
    font-size: x-large;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}
.origami {
    
    border-radius: 20px;
    background-color: #ffffff;
    /* modify margin and padding here*/
    padding: 20px;
    margin: 20px;
    width:310px;
    font-family:'ABeeZee', sans-serif;;
}

.origami:hover{
    transform: scale(1.15);
}